@import url('https://fonts.googleapis.com/css2?family=Inder&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    width: 100%;
    margin: 0;
    background: #f7f2ef;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    font-size: 17px;
}

page-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    > header {
        padding: 1rem 0;

        > div.headlines {
            height: max-content;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            > h1 {
                display: inline-block;
                color: #25178b;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 3rem;
                letter-spacing: -0.2rem;
                margin: 0;
            }

            > h2 {
                display: inline-block;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        > p {
            width: 50%;
            color: #25178b;
            font-size: 1.5rem;
            font-weight: 300;

            @media (width < 1025px) {
                width: 100%;
            }
        }
    }

    > main {
        @supports (grid-template-rows: masonry) {
            display: grid;
            height: 100%;
            gap: 1rem;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            grid-template-rows: masonry;
        }

        column-width: 500px;
        column-gap: 1rem;

        @media (width < 451px) {
            display: flex;
            overflow-x: scroll;
        }

        > review-card {
            break-inside: avoid;
            display: flex;
            gap: 2rem;
            height: max-content;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 10px 30px 10px #dcdcdcbc;
            margin-bottom: 1rem;

            > left-side {
                > img {
                    border-radius: 100%;
                }
            }

            > right-side {
                width: 100%;
                display: flex;
                flex-direction: column;

                @media (width < 451px) {
                    gap: 1.5rem;
                }

                > rating-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;

                    > h3 {
                        font-size: 1.3rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > modal-box {
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        position: fixed;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: max-content;
        background: white;
        border-radius: 10px;
        padding: 1rem 2rem;

        > input,
        > textarea {
            background: transparent;
            padding: 0.5rem;
            outline: none;
            padding-inline: 0.5rem;

            &:not(textarea) {
                border: none;
                border-bottom: thin solid gray;
            }
        }

        > span#closeButton {
            align-self: flex-end;
            padding: 0.3rem 0.5rem;
            background: #f7f2ef;
            border-radius: 5px;
            cursor: pointer;
            border: thin solid rgb(202, 200, 200);
            font-size: 0.8rem;
            font-weight: 900;

            &:hover {
                border-color: transparent;
            }
        }

        > rating-box {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            @media (width < 451px) {
                gap: 0.5rem;
            }

            /* Star Icon Lables */
            > label {
                margin: 0.5rem 0;
            }

            /* Checkbox Input */
            > input {
                cursor: pointer;
            }
        }

        /* Form Input Labels */
        > label {
            margin: 1rem 0;
            margin-bottom: 0.5rem;
            font-weight: 900;

            /* Submit Button */
            ~ button {
                margin: 1rem 0;
                padding: 1rem 0;
                text-transform: uppercase;
                font-weight: 900;
                cursor: pointer;
                color: white;
                background: #25178b;
                border: none;
            }
        }
    }
}
